In [8]:
import pandas as pd

df = pd.read_csv("titanic_dataset.csv")

avg_survival_by_gender = df.groupby('Sex')['Survived'].mean()
print(avg_survival_by_gender)

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [9]:

filtered_df = df[(df['Sex'] == 'female') & (df['Age'] > 30) & (df['Survived'] == 1)]

print(filtered_df[['Name', 'Sex', 'Age', 'Survived']].head())

                                                 Name     Sex   Age  Survived
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0         1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0         1
11                           Bonnell, Miss. Elizabeth  female  58.0         1
15                   Hewlett, Mrs. (Mary D Kingcome)   female  55.0         1
25  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0         1

In [10]:

print("Missing values before cleanup:\n", df.isnull().sum())


df_no_na = df.dropna()


df_cleaned = df_no_na.drop_duplicates()

print("\nOriginal shape:", df.shape)
print("After removing missing values:", df_no_na.shape)
print("After removing duplicates:", df_cleaned.shape)

Missing values before cleanup:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Original shape: (891, 12)
After removing missing values: (183, 12)
After removing duplicates: (183, 12)